body {
    background-image: url(images.jpeg);
    background-size: cover;
    font-family: 'Poppins', sans-serif; 
    color: #333;
}

header {
    background-color: rgba(34, 195, 201, 0.8);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

/* Logo styles */
.company-logo {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00; 
}


.container {
    margin: 20px auto;
    max-width: 800px;
    padding: 0 20px;
}

/* Job listing styles */
.job {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.job h3 {
    margin-top: 0;
    font-size: 24px; 
    color: #333; 
}

.job p {
    margin: 10px 0;
    font-size: 16px;
}


form {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

